[user]
	name = Arseny Smirnov
	email = arseny30@gmail.com
[core]
	editor = vim
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
